doctype html
- var title = "AnoPost";
- var image_path = "img/portfolio/anopost.png";
- var image_alt = "AnoPostの画像";
- var description = "企業倫理ホットラインを簡単に作成できるWebサービス";

html(lang="ja")
  include _head
  body
    .main
      include portfolio_page/_portfolio_header
      .link
        a(href="https://github.com/wawawatataru/anopost" target="blank")
          include button/_github
        a(href="https://anopost.xyz/" target="blank")
          include button/_link
      .skill
        h1.skill__title 主な使用技術
        .skill__svgs
          .skill__svg
            include svg/_ruby
          .skill__svg
            include svg/_rails
          .skill__svg
            include svg/_rubocop
          .skill__svg
            include svg/_heroku
          .skill__svg
            include svg/_octcat
          .skill__svg
            include svg/_circleci
      .about
        h2.about__title AnoPostとは
        p.about__text
          | 企業倫理ホットラインとして使える匿名投書箱を簡単に作成できるWebサービス
        h3.about__sub-title 作成理由
        p.about__text
          | 以前社員数千人規模の企業に務めていた際、社内への改善要望や意見がある場合に、
          br
          | 意見を投稿できるような場所がないことや、意見することでいづらさを感じるような場面がありました。
          br
          | また、近年はハラスメント行為や企業の不祥事がニュースに取り上げられることも増えているため、
          br
          | <span class="about__text--bold">問題を抱えている従業員</span>と<span class="about__text--bold">問題を未然に解決したい会社</span>の双方に利点があるサービスを作成しました。
        h3.about__sub-title 特徴
        p.about__text
          | AnoPostは<span class="about__text--bold">匿名の投書箱を簡単に作成できる</span>Webアプリケーションです。
          br
          | 企業倫理ホットラインとして利用することを想定しています。
          img.about__image(src="img/portfolio/anopost/introduction_problem.png", alt="AnoPostが解決したい問題の画像")
          br
          | <span class="about__text--bold">企業倫理やハラスメント行為などの問題を未然に防ぎたい</span>会社と、
          br
          | 問題を認知しているけど、報復を恐れるなどの理由から<span class="about__text--bold">記名で問題提起しにくい</span>従業員、
          br
          | 双方の課題を解決する、<span class="about__text--bold">企業倫理ホットライン</span>が簡単に作成できます。
          img.about__image(src="img/portfolio/anopost/introduction_hotline.png", alt="AnoPostが解決したい問題の画像")
          br
          | ホットラインを作るためにはフォームに必要事項を入力するだけです。
          br
          | <span class="about__text--bold">アカウント登録などの面倒な操作は必要ありません。</span>
          br
          | ホットラインを作った人は利用者に<span class="about__text--bold">URLを共有するだけ</span>で利用できます。
          br
          br
          | アカウント登録やログインをせずに投稿することができるため、
          br
          | <span class="about__text--bold">利用者が匿名で気軽に投稿できる</span>ことを目的としています。
          br
          br
          | 管理者は投稿された内容を管理ページから確認するのはもちろん、
          br
          | Slackにも同一の投稿をすることや、JSON、CSV形式でエクスポートすることもできるため、
          br
          | <span class="about__text--bold">既存のワークフローに応じて投稿内容を利用する</span>ことができます。
      include _footer