doctype html
- var title = "AtCoder OGP";
- var image_path = "img/portfolio/atcoder_ogp.png";
- var image_alt = "AtCoder OGPの画像";
- var description = "GitHub ActionsとGitHub Pagesを用いたOGP自動更新ツール";

html(lang="ja")
  include _head
  body
    .main
      include portfolio_page/_portfolio_header
      .link
        a(href="https://github.com/shimewtr/atcoder_ogp" target="blank")
          include button/_github
      .skill
        h1.skill__title 主な使用技術
        .skill__svgs
          .skill__svg
            include svg/_python
          .skill__svg
            include svg/_octcat
          .skill__svg
            include svg/_docker
          .skill__svg
            include svg/_selenium
      .about
        h2.about__title AtCoder OGP
        p.about__text
          | GitHub ActionsとGitHub Pagesを用いたOGP自動更新ツール
        h3.about__sub-title 作成理由
        p.about__text
          | OGPとTwitterの固定ツイートを利用して、<span class="about__text--bold">表現できる情報を拡張できないかと考えた</span>ことと、
          br
          | AtCoderユーザーの多くがレーティング画像を毎回撮影して、ツイートしていることがわかり、
          br
          | <span class="about__text--bold">レーティングの画像を自動で撮影し手間を省く</span>のと同時に、
          br
          | <span class="about__text--bold">固定ツイートとOGPを活用した新しい情報領域を生成できる</span>と考え作成しました。
        h3.about__sub-title 特徴
        p.about__text
          | AtCoder OGPはGitHub Pages、GitHub Actions、Dockerなどを利用して作成されています。
          br
          | 互換性やユーザーの開発環境などを考慮せず、<span class="about__text--bold">同一の処理が行えます。</span>
          br
          br
          | 利用者は関連技術の知識がなくても、<span class="about__text--bold">自身のアカウント名をコードに記載するだけ</span>で、
          br
          | 自身のレーティング画像がOGPに設定されているGitHub Pagesを作成できます。
          br
          | GitHub Pagesの<span class="about__text--bold">URLをツイートするだけ</span>で自動で更新されるレーティングを共有することができます。
      include _footer