doctype html
- var title = "Top";
html(lang="ja")
  include _head
  body
    .main
      .profile
        .icon
          img.icon__image(src="img/icon.png", alt="プロフィール画像")
        .name
          h1.name__full Wataru Shime
          h2.name__handle @shimewtr
        .sns
          a(href="https://github.com/shimewtr" target="blank")
            include button/_github
          a(href="https://twitter.com/shimewtr" target="blank")
            include button/_twitter
      .portfolio
        h2.portfolio__title Portfolio
        .portfolio__items
          include portfolio_item/_portfolio_item__comica
          include portfolio_item/_portfolio_item__loglog
          include portfolio_item/_portfolio_item__louis
          include portfolio_item/_portfolio_item__anopost
          include portfolio_item/_portfolio_item__atcoder_ogp
          include portfolio_item/_portfolio_item__outline
          include portfolio_item/_portfolio_item__portfolio
      include _footer