doctype html
- var title = "top";
html(lang="ja")
  include _head
  body
    .main
      .profile
        .icon
          img.icon__image(src="img/icon.png", alt="プロフィール画像")
        .name
          h1.name__full Wataru Shime
          h2.name__handle @wawawatataru
        .sns
          a(href="https://github.com/wawawatataru" target="blank")
            include button/_github
          a(href="https://twitter.com/wawawatataru" target="blank")
            include button/_twitter
      .portfolio
        h2.portfolio__title Portfolio
        .portfolio__items
          include portfolio_item/_portfolio_item__work1
          include portfolio_item/_portfolio_item__work1
          include portfolio_item/_portfolio_item__work1
      include _footer