doctype html
- var title = "Portfolio | top";
html(lang="ja")
  include _head
  body
    .main
      .profile
        .icon
          img.icon__image(src="img/icon.png", alt="プロフィール画像")
        .name
          .name__full Wataru Shime
          .name__handle @wawawatataru
        .sns
          a(href="https://github.com/wawawatataru" target="blank")
            include button/_github
          a(href="https://twitter.com/wawawatataru" target="blank")
            include button/_twitter