doctype html
- var title = "Portfolio";
- var image_path = "img/portfolio/portfolio.png";
- var image_alt = "Portfolioの画像";
- var description = "自身の作成物をまとめたページ（このページ）";

html(lang="ja")
  include _head
  body
    .main
      include portfolio_page/_portfolio_header
      .link
        a(href="https://github.com/shimewtr/portfolio" target="blank")
          include button/_github
      .skill
        h1.skill__title 主な使用技術
        .skill__svgs
          .skill__svg
            include svg/_pug
          .skill__svg
            include svg/_compass
          .skill__svg
            include svg/_sass
          .skill__svg
            include svg/_gulp
      .about
        h2.about__title Portfolio
        p.about__text
          | 自身の作成物をまとめたページ（このページ）です。
        h3.about__sub-title 作成理由
        p.about__text
          | 作成物を一覧で閲覧できるようにするため、
          br
          | また、gulpでタスクランナーを実行し、静的サイトの開発環境を作ることに興味があったため。
        h3.about__sub-title 特徴
        p.about__text
          | pugファイル、scssファイルを編集すると、自動でhtml、cssを生成し、
          br
          | ブラウザがリロードされるため、<span class="about__text--bold">すぐさま変更箇所を確認</span>することができます。
      include _footer