@import 'color';
@import 'mixin';
@import 'size';

.work {
  @include container;

  &__image {
    margin-bottom: 36px;

    @include image_base;
  }
}

.description {
  width: $width_main;

  &__title {
    @include text_main;
  }

  &__text {
    @include text_sub;
  }
}

.link {
  margin-top: 18px;

  @include button_container;
}

.skill {
  padding-top: 100px;

  @include container;

  &__title {
    @include text_main;
  }

  &__svgs {
    margin-top: 10px;

    @include button_container;
  }

  &__svg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }
}

.about {
  margin-top: 100px;

  @include container;

  &__title {
    @include text_main;
  }

  &__sub-title {
    @include text_about_sub_title;
  }

  &__text {
    @include text_about_text;

  }
}