$width_main: 800px;

$width_icon_image: 170px;
$height_icon_image: $width_icon_image;

$width_button:60px;
$height_button:$width_button;

$fontsize_html: 18px;
$fontsize_main: 1.6rem;
$fontsize_sub: 1.2rem;