$width_main: 800px;

$width_icon_image: 170px;
$height_icon_image: $width_icon_image;

$width_button:60px;
$height_button:$width_button;

$width_portfolio__items: 800px;

$width_portfolio__item: 388px;
$height_portfolio__item: 250px;

$fontsize_html: 16px;
$fontsize_main: 1.75rem;
$fontsize_about-sub-title: 1.375rem;
$fontsize_sub: 1.125rem;
$fontsize_about_text: 1rem;

$fontsize_container_title: 1.375rem;
$fontsize_container_description: 0.75rem;
$lineheight_container_description: 1.5rem;