- var link = "./louis_page.html";
- var image_path = "img/portfolio/louis.png";
- var image_alt = "louisの画像";
- var container__title = "Louis";
- var container__description = "シンプルなブログ用のJekyllテーマ";

include _portfolio_item
