- var link = "./atcoder_ogp_page.html";
- var image_path = "img/portfolio/atcoder_ogp.png";
- var image_alt = "AtCoder OGPの画像";
- var container__title = "AtCoder OGP";
- var container__description = "GitHub ActionsとGitHub Pagesを用いたOGP自動更新ツール";

include _portfolio_item
