- var link = "./comica_page.html";
- var image_path = "img/portfolio/comica.png";
- var image_alt = "Comicaの画像";
- var container__title = "Comica";
- var container__description = "漫画発売日通知アプリ";

include _portfolio_item
