- var link = "./anopost_page.html";
- var image_path = "img/portfolio/anopost.png";
- var image_alt = "ポートフォリオ1の画像";
- var container__title = "AnoPost";
- var container__description = "Ruby on Railsを用いた企業倫理ホットライン作成サービス";

include _portfolio_item
