- var link = "./loglog_page.html";
- var image_path = "img/portfolio/loglog.png";
- var image_alt = "LogLogの画像";
- var container__title = "LogLog";
- var container__description = "日常のちょっとしたできごとを記録できるWebサービス";

include _portfolio_item
