- var link = "./outline_page.html";
- var image_path = "img/portfolio/outline.png";
- var image_alt = "ポートフォリオ1の画像";
- var container__title = "OUTLINE Watch Face";
- var container__description = "文字盤上で予定を瞬時に確認できるウォッチフェイスです。";

include _portfolio_item
