- var link = "./portfolio_page.html";
- var image_path = "img/portfolio/portfolio.png";
- var image_alt = "ポートフォリオ1の画像";
- var container__title = "Portfolioページ";
- var container__description = "このページです。";

include _portfolio_item
