- var link = "./portfolio_page.html";
- var image_path = "img/portfolio/portfolio.png";
- var image_alt = "Portfolioの画像";
- var container__title = "Portfolio";
- var container__description = "自身の作成物をまとめたページ";

include _portfolio_item
