- var link = "./anopost_page.html";
- var image_path = "img/portfolio/anopost.png";
- var image_alt = "AnoPostの画像";
- var container__title = "AnoPost";
- var container__description = "企業倫理ホットラインを簡単に作成できるWebサービス";

include _portfolio_item
